.header {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (max-width: $breakpoint768) {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 7px 5px 32px -9px rgba(188, 189, 197, 0.34);
  }
}
.header__container {
  align-items: center;
  justify-content: space-between;
}
.logo__wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img__wrap {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.logo {
  font-family: NeueHaasDisplay-Mediu;
  font-size: 18px;
  color: $primary;
  text-align: center;
  line-height: 1.1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  z-index: 5;
  &__link {
    font-size: 17px;
    line-height: 22px;
    color: $primary;
    transition: all 0.3s ease;
    position: relative;
    &:hover, &.active {
      color: #F05718;
    }
  }
  &__link:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #F05718;
    content: "";
    transition: width 0.3s ease-out;
  }
  &__link:hover:after, &__link:focus:after {
    width: 100%;
  }
  @media screen and (max-width: $breakpoint768) {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    clip-path: circle(0px at calc(100% - 42.5px) 44px);  
    gap: 0;
    flex-direction: column;
    background-color: #ecedf3;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 60px;
    transition: all 1s ease-out; 
    &.active {
      pointer-events: all;  
      clip-path: circle(130% at 100% 50%);
    }
  }
  @media screen and (max-width: $breakpoint576) {
    clip-path: circle(0px at calc(100% - 32.5px) 33px);
  }
}
.menu__item {
  @media screen and (max-width: $breakpoint768) {
    margin: 20px 0;
  }
}
.menu__link {
  @media screen and (max-width: $breakpoint768) {
    font-size: 35px;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
  z-index: 10; 
  @media screen and (max-width: $breakpoint768) {
    display: block;
  }
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: $primary;
}
@media(max-width: $breakpoint768) {
 
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}