.header {
  padding-top: 30px;

}
.header__container {
  align-items: center;
  justify-content: space-between;
}
.logo__wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img__wrap {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.logo {
  font-family: NeueHaasDisplay-Mediu;
  font-size: 18px;
  color: $primary;
  text-align: center;
  line-height: 1.1;
}
.navbar {
  // min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  // padding: 0 24px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  z-index: 5;
  &__link {
    font-size: 17px;
    line-height: 22px;
    color: $primary;
    transition: all 0.3s ease;
    position: relative;
    &:hover, &.active {
      color: #F05718;
    }
  }
  &__link:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F05718;
    content: "";
    transition: width 0.3s ease-out;
  }
  &__link:hover:after, &__link:focus:after {
    width: 100%;
  }
  @media screen and (max-width: $breakpoint768) {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    //100% от лева минус падинг 20зч и половина ширины bar
    clip-path: circle(0px at calc(100% - 42.5px) 44px);  
    gap: 0;
    flex-direction: column;
    background-color: #ecedf3;
    text-align: center;
    justify-content: flex-start;
    padding: 80px 50px;
    transition: all 0.9s ease-out; 
    &.active {
      pointer-events: all;  
      clip-path: circle(130% at 100% 50%);
    }
  }
}
.menu__item {
  @media screen and (max-width: $breakpoint768) {
    margin: 20px 0;
    font-size: 25px;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
  z-index: 10; 
  @media screen and (max-width: $breakpoint768) {
    display: block;
  }
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: $primary;
}
@media(max-width: $breakpoint768) {
 
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.btn {
  background-color: #F05718;
  border: 1px solid #F05718;
  color: white;
  font-size: 17px;
  line-height: 22px;
  border-radius: 5px;
  padding: 7px 10px;
  transition: all 0.5s;
  &:hover {
    background-color: white;
    color: $primary;
  }
  @media screen and (max-width: $breakpoint768) {
    display: none;
  }
}

.header.fixed-nav {
background-color: #F05718;
position: fixed;
top: 0;
left: 0;
width: 100%;
min-height: 70px;
z-index: 5;
 transition: all .3s ease ;
}